<section>
  <h2> Create New Post</h2>
<div class="new-post">
<form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
       
    <div>
      <label for="post-context">Content</label>
      <input type="text" id="post-context" name="post-context"/>
    </div>

      <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create Post</button>
      </form>
    <div class="click">
        <a href="/dashboard">View Your Posts</a>
    </div>
      </div>
</section>

<script src="/javascript/add-post.js"></script>